[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
